{% extends "AccountsApp/model.html" %} {% block content %}
{% if form %}

<div class="container px-4">
    <div class="row gx-5">
      <div class="col">
        <div class="p-3 border bg-light">Editar tu perfil</div>
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <input class="btn btn-primary" type="submit", value="Confirmar Cambios"></input>
        </form>
        {% endif %}
        {% endblock %}
    </div>
    </div>
</div>