{% extends "BlogApp/model.html" %} {% block content %}
<div class="container px-4">
  <div class="row gx-5">
    <div class="col">
      <div class="p-3 border bg-light">Acerca de Mi</div>
      <h6>Jonathan Stradivarius</h6>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, error id unde
        et provident odit, vitae voluptate aliquid iste facilis magni a itaque maiores
        veritatis ipsa. Dignissimos nobis praesentium eum? 
        
        Lorem ipsum dolor, sit amet
        consectetur adipisicing elit. Necessitatibus sed numquam quibusdam unde, error
        aliquam quia eligendi! Voluptatibus nostrum, magnam esse recusandae ex
        cupiditate quam, repudiandae, cum a mollitia vel.F
      </p>
    </div>
  </div>
</div>
{% endblock %}
